html, body {

  height: 100%;
  width: 100%;
  font-family: "Open Sans";
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.root {
  width: 100%;
  height: 100%;
  display: block;
}
.App {
  text-align: center;
  background-color: #f9f9f9;
  height: 100%;
  width: 100%;
  display: flex;
  /* display: inline-flex; */
  margin: 0;
  /* bottom: 0; */
  border: none;
  overflow: auto;
  /* align-content: space-around; */
}

.App-name {
  font-size: 3.5em;
  
  font-family: "Open Sans Light";
  text-transform: uppercase;
  color: #ffffff;
  text-align: left;
}

.App-title {
  font-size: 3.5em;
  font-family: "Open Sans Light";
  color: #565a69;
  text-align: left;
  margin:0;
}

.App-slogan {
  font-size: 1.7em;
  word-spacing: 0.1em;
  color: #808080;
  text-align:left;
}

.DairyCover {
  float: left;
  background-color: #2b2f3e;
  width: 20%;
  height: 100%;
  padding: 30px 0 0 40px;
} 

.DairyContent {
  float: right;
  margin: 0;
  border: 0;
  background-color: #f9f9f9;
  display: flex;
  width: 80%;
  /* height: 100%; */
  padding: 40px 40px 40px 40px;
  align-content: space-between;
  
}

.TaskListView {
  width: 45%;
  /* height: 100%; */
  /* background-color: #fafafa; */
  background-color: #ffffff;
  float: left;
  align-content: center;
  padding: 10px 20px 0 30px;  
  box-shadow: -1px 1px 10px #bababa;
}
.AddTaskBar {
  padding: 20px 10px 0px 20px;
  width: 100%;
  display: flex;
  align-items: center;
}

.AddTaskBar input[type="submit"] {
  width: 30%;
  height: 2.8m;
  /* margin: 0; */
  margin-left: 2%;
  /* padding:0; */
  font-size: 1em;
  line-height: 2.75em;
}
.AddTaskBar input[type="text"] {
  font-family: "Open Sans Semibold";
  font-size: 1.5em;
  height: 2.1em;
  line-height: 2.75em;
  border: 2px #cccccc solid;
  border-radius: 5px;
  background-color: inherit;
  /* box-shadow: 0 0 3px #cccccc; */
  /* box-shadow: none; */
  margin: 0;
  padding: 0 0 0 0.707em;
  vertical-align: middle;
  width: 60%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b4b4b4;
  font-size: 1em;
  /* line-height: 1.5em; */
  /* height: 2.85em; */
  
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #b4b4b4;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #b4b4b4;
}

.TaskList {
  /* width: 100%; */
  padding: 0px 10px 0px 20px;
 
 /* height: 100%; */
 /* overflow: scroll; */
 /* scroll-behavior: auto; */
}

.TaskRecord {
  border:none;
  border-bottom: 2px solid #e8e8e8;
  width: 100%;
  display: flex;
  /* vertical-align: middle; */
  /* align-content: center; */
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  overflow: auto;
}

.task-selected .indicator {
  visibility: visible;
  /* border-left: 8px solid  #f72d57;  */
  /* background-color: #27ccc0; */
}
.indicator {
  position: absolute;
  width: 8px;
  height: 84px;
  margin-left: -54px;
  background-color: #f72d57;
  visibility: hidden;
}
.task {
  display: flex;
  align-items: center;
  vertical-align: middle;
}
/* .task-action { */
  /* padding: 0; */
  /* padding-right: 10; */
/* } */
.task-name {
  font-family: "Open Sans Semibold";
  text-align: left;
  font-size: 1.5em;
  line-height: 1.5em;
 
  
}


/* input[type="button"]:active , input[type="submit"]:active {
  /* transform: none; */
  /* position: relative; */
/* } */

input[type="button"] , input[type="submit"] {
  background-color: #27ccc0;
  border: 1px solid #27ccc0;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;
  margin:0;
}

.AddTaskBar input[type="submit"] {
  font-family: "Open Sans Semibold";
  font-size: 1.5em;
  /* width: 30%; */
  height: 2.25em;
  padding:0;
  line-height: 1.7em;
  /* border-radius: 5px; */
}

input[type="button"].num-comments  {
  /* font-family: ; */
  /* font-weight: 800; */
  font: 700 1.3em/1.3em "Open Sans";
  border-radius: 15px;
  text-align: center;
  height: 1.3em;
  float: left;
  margin: 0 0.5em;
  padding: 0 10px 0 10px;
}

input[type="button"].delete-btn {
  font-family: "Open Sans Light";
  font-size: 1.5em;
  background-color: #ffffff;
  color: #ff305a;
  /* float: right; */
  /* margin-right: 10; */
  width: 6.2em;
  margin:0;
  padding: 0;
  height: 2.25em;
  /* font-weight: 400; */
  border: 2px solid #ff3059c0;
}


.CommentListView {
  width: 55%;
  align-content: center;
  background-color: #ffffff;
  
  padding: 10px 40px 10px 30px;  
  margin: 0;
  margin-left: 2%;
  box-shadow: -1px 1px 10px #bababa;
  overflow: auto;
} 
.CommentList {
  width: 100%;
  padding-top: 35px;  
  /* overflow: scroll; */
  overflow-y: auto;
  
  /* float: 4; */
  /* overflow: scroll; */
  /* scroll-behavior: auto; */

}
.CommentRecord {
  width: 100%;
  display: flex;
  align-self: auto;
  align-items: flex-start;
  align-content: space-between;
  padding: 25px 0 40px 0;
  border-bottom: 2px solid #e8e8e8;
}
.CommentRecord:last-of-type {
  border-bottom: none;
}
.comment-name {
  font: 300 1.14em/1.5em "Open Sans";
  /* font-family:Open Sans"; */
  /* font-size: 1.2em; */
  margin-left: 25px;
  margin-top: -5px;
  display: block;
  width: 100%;
  text-align: left;
  color: #666666;
  hyphens: auto;
}

.placeholder-icon {
  width: 81px;
  height: 81px;
  background-color: #e6e6e6;
} 

.CommentRecord:nth-child(odd) .placeholder-icon {
  background-color: #ff8a00;
}

.CommentRecord:nth-child(even) .placeholder-icon{
  background-color: #47568c;
}

.AddCommentBar {
  display: flex;
  height: 100px;
  padding-right: 40px;
  padding-bottom: 30px;
}

.comment-new, .comment-new textarea {
  width: 100%;
  height: 100%;
}

.comment-new textarea {
  border: 2px solid #cccccc;
  font: 300 1.14em/1.5em "Open Sans";
  text-align: left;
  color: #666666;
  hyphens: auto;
  padding-left: 0.5em;
  resize: none;
  margin-left: 25px;
}